%p#notice= notice

%p
  %b First name:
  = @teacher.first_name
%p
  %b Middle name:
  = @teacher.middle_name
%p
  %b Last name:
  = @teacher.last_name
%p
  %b Number:
  = @teacher.number

= link_to 'Edit', edit_teacher_path(@teacher)
\|
= link_to 'Back', teachers_path
